html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevent scrollbars */
}

button img {
    width: 100%;
}

#bt1, #bt2, #bt3, #bt4, #bt5 {
    position: absolute;
    width: 50px;
    height: 55px;
    left: -42px; /* Initially positioned off-screen */
    transition: left 0.8s; /* Add a smooth transition for animation */
}

#bt1 {
    top: 50px;
}

#bt2 {
    top: 110px;
}

#bt3 {
    top: 170px;
}

#bt4 {
    top: 230px;
}

#bt5 {
    top: 290px;
}

#theframe {
    width: 100%;
    height: 100%;
}

.holder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; /* Prevent scrollbars */
}

#bt-container:hover #bt1, #bt-container:hover #bt2, #bt-container:hover #bt3, #bt-container:hover #bt4, #bt-container:hover #bt5 {
    left: 3px; /* Move buttons on interaction */
}
