body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex; /* Use flex layout */
    flex-direction: column; /* Stack children vertically */
    height: 100vh; /* Set the body height to 100% of viewport height */
}

.navbar {
    background-color: #333;
    border: 0px solid #000;
}

.navButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.navButton.active {
    background-color: #555;
    color: black;
    font-weight: bold;
}

/* Expand the iframe to fill the remaining space */
iframe {
    flex-grow: 1;
    border: none;
}
